<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Home</title>
	<link rel="icon" type="image/x-icon" href=""> <!-- favicon icon -->
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<div class="nav-container">
		<div class="logo">
			<img src="../static/assets/images/vizon-logo-removebg-preview.png" alt="">
		</div>
		<div class="nav-list-container">
			<div class="nav-list">Products</div>
			<div class="nav-list">Club</div>
			<div class="nav-list">Get in Touch</div>
		</div>
		<label for="check" class="checkbtn">
			<button onclick="myFunction()" id="nav-btn"><i class="fa fa-bars"></i></button>
		</label>
	</div>

	<div class="h1">Lorem ipsum dolor sit amet Consectur</div>

	<div class="article-wrapper">
		<div class="article-container">
			<div class="img-container">
				<img src="../static/assets/images/img-1.png" alt="laptop-setup">
			</div>
			<div class="article-disc">
				<div class="disc-container">
					<div class="disc-h1 center">Cyber Squad</div>
					<div class="disc-content center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam exercitationem perspiciatis.</div>
					<button class="center inter-btn">Interested</button>
				</div>
			</div>
		</div>
		<div class="article-container">
			<div class="img-container">
				<img src="../static/assets/images/img-1.png" alt="laptop-setup">
			</div>
			<div class="article-disc">
				<div class="disc-container">
					<div class="disc-h1 center">Cyber Squad</div>
					<div class="disc-content center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam exercitationem perspiciatis.</div>
					<button class="inter-btn">Interested</button>
				</div>
			</div>
		</div>
		<div class="article-container">
			<div class="img-container">
				<img src="../static/assets/images/img-1.png" alt="laptop-setup">
			</div>
			<div class="article-disc">
				<div class="disc-container">
					<div class="disc-h1 center">Cyber Squad</div>
					<div class="disc-content center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam exercitationem perspiciatis.</div>
					<button class="center inter-btn">Interested</button>
				</div>
			</div>
		</div>
		<div class="article-container">
			<div class="img-container">
				<img src="../static/assets/images/img-1.png" alt="laptop-setup">
			</div>
			<div class="article-disc">
				<div class="disc-container">
					<div class="disc-h1 center">Cyber Squad</div>
					<div class="disc-content center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam exercitationem perspiciatis.</div>
					<button class="center inter-btn">Interested</button>
				</div>
			</div>
		</div>
		<div class="article-container">
			<div class="img-container">
				<img src="../static/assets/images/img-1.png" alt="laptop-setup">
			</div>
			<div class="article-disc">
				<div class="disc-container">
					<div class="disc-h1 center">Cyber Squad</div>
					<div class="disc-content center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam exercitationem perspiciatis.</div>
					<button class="center inter-btn">Interested</button>
				</div>
			</div>
		</div>
		<div class="article-container">
			<div class="img-container">
				<img src="../static/assets/images/img-1.png" alt="laptop-setup"> </div>
			<div class="article-disc">
				<div class="disc-container">
					<div class="disc-h1 center">Cyber Squad</div>
					<div class="disc-content center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam exercitationem perspiciatis.</div>
					<button class="center inter-btn">Interested</button>
				</div>
			</div>
		</div>
	</div>

	<div class="h1 foot">VIZON Lorem ipsum dolorsit Amet Consectur</div>
	<script>
		function myFunction() {
		   var element = document.body;
		   element.classList.toggle("nav-appears");
		}
	</script>
</body>
</html>
